.carousel-root {
	height: auto;
}
.slider {
	min-height: 380px;
}
.slider-image {
	/* max-width: 450px; */
	max-height: 380px;
	object-fit: contain;
}

.thumbs-wrapper {
	margin: 15px 0px !important;
	background-color: rgb(215, 215, 215);
}
.control-arrow {
	border: none;
	z-index: 1;
}
.thumbs {
	border: 1px solid rgb(176, 176, 176);
	height: 80px;
	padding: 0px 5px;
	/* object-fit: contain; */
	white-space: wrap !important;
	/* overflow: scroll; */
	/* border-radius: 5px; */
	/* overflow: hidden !important; */
}
.thumb {
	padding: 0 !important;
	/* border: 1px !important; */
	border-color: #cfcccc !important;
	/* height: 80px !important; */
}
.thumb img {
	object-fit: contain !important;
	height: 70px;
}
.thumb:active {
	border-color: rgb(137, 7, 7) !important;
	padding: 10px;
}

.thumb:hover {
	border-color: #030303 !important;
}

@media (max-width: 576px) {
	.slider {
		/* max-width: 450px; */
		max-height: 380px;
		object-fit: contain;
	}
}
