.login-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}
.login-form-img {
	width: 50%;
	height: auto;
}
.login-form-img img {
	max-width: 500px;
	margin: auto;
}
.login-main {
	width: 350px;
	margin: auto;
	padding: 20px 25px;
	border-radius: 10px;
	background-color: #ececec;
}

.login-header {
	text-align: center;
}
.login-header p {
	font-size: 16px;
	font-weight: 300;
	color: red;
}
.login-form-input {
	margin: 25px 0 10px 0;
}

.login-error-msg {
	font-size: 15px;
	font-weight: 300;
	height: 20px;
	color: red;
	margin-bottom: 10px;
}

.login-form-input > .input {
	color: #292929;
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 10px 20px;
	background-color: #ffffff;
	border-bottom: 1px solid gray;
	border-radius: 0px;
	font-weight: 300;
}
.form-group input {
	outline: none;
}
.login-form-input input::placeholder {
	color: #695151;
	font-weight: 300;
}

.register-link {
	float: right;
	font-size: 16px;
	color: blue;
	margin: 0px 0 10px 10px;
	cursor: pointer;
}
.register-link:hover {
	text-decoration: underline;
}
.login-btn {
	text-align: center;
	margin: 10px auto;
	background-color: var(--primary-color);
	color: white !important;
	padding: 6px 20px;
	font-weight: 400;
	transition: 0.2s ease-out;
	border-radius: 16px;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
	touch-action: manipulation;
	transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
		transform 0.2s;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
}

.login-btn:hover {
	background-color: var(--secondary-color);
	/* color: #252525 !important; */
	transition: 0.2s ease-out;
}

.login-btn:focus-visible {
	transition: box-shadow 0.2s;
}

.login-btn:active {
	background-color: #000000;
	color: white !important;
	border: none;
	transform: scale(0.96);
}

@media (max-width: 768px) {
	.login-main {
		margin-right: 20px;
	}
}
@media (max-width: 576px) {
	.login-main {
		margin: auto;
		width: 80%;
	}
	.login-form-img {
		display: none;
	}
}
