.allProduct-section {
	margin: 0 auto;
	width: 100%;
}

@media (max-width: 768px) {
	.allProduct-container {
		border: none;
		padding-right: 0;
		margin-right: 0;
		flex: none;
		flex-direction: column;
		gap: 0px;
		padding-top: 80px;
	}
	.mobile-filter-option {
		display: block;
		width: 100%;
		position: fixed;
		top: 64px;
		font-weight: 400;
		z-index: 50;
		background: var(--primary-color);
		font-size: 22px;
		border-top: 5px solid var(--secondary-color);
		color: white;
	}

	.mobile-Category-opt {
		padding: 8px 40px;
		width: 50%;
		float: left;
		border-right: 2px solid var(--secondary-color);
		cursor: pointer;
	}
	.mobile-search-opt {
		padding: 8px 40px;
		width: 50%;
		float: right;
		border-left: 2px solid var(--secondary-color);
		cursor: pointer;
	}
	.mobile-filter-option :focus {
		background: var(--secondary-color);
	}
	.allProduct-section {
		padding: 40px 5px;
	}
	.filter-option {
		top: 10px;
	}
	.filter-background {
		width: 100vw;
		height: 100vh;
		background-color: #1818189c;
		position: fixed;
		z-index: 60;
		top: 108px;
	}
	.searchWarper {
		display: none;
		position: fixed;
		top: 110px;
		width: 96%;
		padding: 0 !important;
		margin: 0;
		z-index: 2;
		height: 80px;
		background-color: rgb(205, 208, 199);
	}
	.ProductSearchIcon {
		background-color: rgb(165, 169, 173) !important;
	}
	.ProductSearchBar {
		width: 100%;
	}
}

@media (max-width: 550px) {
	.mobile-filter-option {
		font-size: 16px;
	}
}
