.register-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	padding-top: 50px;
}
.register-form-img {
	width: 50%;
	float: right;
	height: auto;
}
.register-form-img img {
	width: 500px;
	margin: auto;
}

.register-main {
	width: 350px;
	margin: auto;
	padding: 15px 25px;
	border-radius: 10px;
	background-color: #ececec;
}
.title {
	text-align: center;
	margin-bottom: 20px;
}
.error-msg {
	font-size: 13px;
	font-weight: 300;
	height: 16px;
	color: red;
	margin-bottom: 5px;
}

.form-input {
	margin: 10px 0 0px 0;
}

.form-input > input {
	color: #292929;
	width: 100%;
	height: 40px;
	font-size: 16px;
	padding: 0px 20px;
	background-color: #ffffff;
	border-bottom: 1px solid gray;
	border-radius: 0px;
	font-weight: 300;
}
.form-group input {
	outline: none;
}
.form-input > input[type="password"] {
	padding-right: 45px;
}
input:focus {
	outline: none;
}

input::placeholder {
	color: #7b7b7b;
	font-weight: 300;
}

.register-btn {
	text-align: center;
	margin: 10px auto;
	background-color: var(--primary-color);
	color: white !important;
	padding: 6px 20px;
	font-weight: 400;
	transition: 0.2s ease-out;
	border-radius: 16px;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
	touch-action: manipulation;
	transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
		transform 0.2s;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
}

.register-btn:hover {
	background-color: var(--secondary-color);
	transition: 0.2s ease-out;
}

.register-btn:focus-visible {
	transition: box-shadow 0.2s;
}

.register-btn:active {
	background-color: #000000;
	color: white !important;
	border: none;
	transform: scale(0.96);
}

@media (max-width: 768px) {
	.register-main {
		margin-right: 20px;
	}
}
@media (max-width: 576px) {
	.register-main {
		margin: auto;
		width: 80%;
	}
	.register-section {
		flex-direction: column;
	}
	.register-form-img {
		display: none;
	}
}
